html {
  background-color: #111;
  color: #fff;
}

main {
  max-width: 960px;
  margin: 2rem auto;
  padding: 1rem;
}

h1 {
  margin: 0;
}

.fotogallery {
  display: block;
}

.foto {
  border: 1px solid silver;
  margin: 1rem 0;
  padding: 1rem;
}
